[Unit]
Description=Switch system into ondemand governer
ConditionPathExists=/usr/bin/cpupower

[Service]
Type=oneshot
ExecStart=-/usr/sbin/on-demand-cpupower-switch

[Install]
WantedBy=multi-user.target
